<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>839989897114-jre8tffmqkpi94av3mthol010o2d4bea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839989897114-jre8tffmqkpi94av3mthol010o2d4bea</string>
	<key>API_KEY</key>
	<string>AIzaSyBcZJ4kofAjL9XfsP1N5CXXQ0v7biDE1KI</string>
	<key>GCM_SENDER_ID</key>
	<string>839989897114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.emotifontkb</string>
	<key>PROJECT_ID</key>
	<string>emotifont-keyboard</string>
	<key>STORAGE_BUCKET</key>
	<string>emotifont-keyboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839989897114:ios:c85b8c04f22616e3</string>
	<key>DATABASE_URL</key>
	<string>https://emotifont-keyboard.firebaseio.com</string>
</dict>
</plist>